
<section class="container">
  <a href="#">
    <article class="card">
      <!-- <figure class="card-img">
        <img src="" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure> -->
      <div class="card-body">
        <h2 class="card-title">Bangalore (Head Office)</h2>
        <p class="card-text">18, 3rd Floor, Gamma Block, Sigma Soft Tech Park, Whitefield, Bangalore – 560066.</p>
      </div>
    </article>
  </a>
  <a href="#">
    <article class="card">
      <!-- <figure class="card-img">
        <img src="" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure> -->
      <div class="card-body">
        <h2 class="card-title">Hyderabad</h2>
        <p class="card-text">-2-1/1/1, 2nd Floor, Mansarovar Building, Srinagar Colony Main Rd, Above SBI, Hyderabad –  500082.</p>
      </div>
    </article>
  </a>
  <a href="#">
    <article class="card">
      <!-- <figure class="card-img">
        <img src="" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure> -->
      <div class="card-body">
        <h2 class="card-title">Australia</h2>
        <p class="card-text">15 Dromana Way, Truganina, Victoria, Australia – 3029. </p>
      </div>
    </article>
  </a>
  <a href="#">
    <article class="card">
      <!-- <figure class="card-img">
        <img src="" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure> -->
      <div class="card-body">
        <h2 class="card-title">Canada</h2>
        <p class="card-text">30 Ryler Way, Markham, ON, Canada – L3S0E7. </p>
      </div>
    </article>
  </a>
</section>

<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="wrapper">
    <main>
      <div class="CommonBanner__CommonBannerWrapper-sduui5-0 rYiHD home_wrapper d-flex align-items-center undefined">
        <div class="container">
         
          <div class="row justify-content-between founded_wrapper counter">
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">10+ Years</h3>
                  <p class="card-text">Years of Service</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">200+</h3>
                  <p class="card-text">Employees</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">50+</h3>
                  <p class="card-text">Trusting Clients</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">15+</h3>
                  <p class="card-text">Countries</p>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </main>
  </div> -->