<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="wrapper">
    <main> 
      <div class="CommonBanner__CommonBannerWrapper-sduui5-0 rYiHD home_wrapper d-flex align-items-center undefined">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
              <div class="home-text ">
                <span class="text-white aos-init aos-animate oursp1" data-aos="fade-up" data-aos-delay="600">Our</span>
                <span class=" aos-init aos-animate oursp2" data-aos="fade-up" data-aos-delay="600">Story Begins Here</span>
                <p class="text-white badge_top aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">Cards, Payments & Lending Focused Specialist Technology </p>
                <p class="text-white badge_top aos-init aos-animate" data-aos="fade-up" data-aos-delay="400"> Services & Solution Company</p>
              </div>
            </div>
            <div class="col-xl-5 col-lg-3 Abouthero">
              <img src="https://s3-alpha-sig.figma.com/img/8ad6/aefd/25f2477f571142c72fccc54ebce4d831?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lm~vgRVEunoAAOUSLpUWGqAsV3hRqKmsYbv79oMbbrx8moXEyfjHLR6ocrRYcYF7OysIiZAFIoY9aGsBCP~azJb4AvUkypoQNX35DA4kOfp1m7uULiEvoKItCChLJ9wFN~mPBw0ugf5TBV35bSIysB-H0171-jaXJFI9zMAUFm2tHp7s6P2QBEX~1TWjKYHJEMlD2CbZB0EbZC8JbNq3CmbvJrgCt7kGeavAVE4-Uw36JZLnaGnyfZA4L-gSb9afXLGJ25RhgUUY1N6aOUKqpoeTqC3kVHW9Dg9el0ys-MHfWMdtSwKzRvXbQkr8GAQdx5QvlkKo7kOCDijW5mv0-A__" alt="Your Image" class="img-fluid">
            </div>
          </div>
          <div class="row justify-content-between founded_wrapper counter ">
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">10+ Years</h3>
                  <p class="card-text">Years of Service</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">200+</h3>
                  <p class="card-text">Employees</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">50+</h3>
                  <p class="card-text">Trusting Clients</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards text-white">
                <div class="card-body">
                  <h3 class="title_2">15+</h3>
                  <p class="card-text">Countries</p>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </main>
  </div>
