<section>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <!-- 1st card -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            

                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/4ed7/0b00/0350a929cb77ae474fba1da397fab6da?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h81BrHIUH32WOTQklXipI0KENKtIhLNh053FZNJFhoo~RcEEGVeb4JZvRp3MiD1mWuxI0KW1iUWUExwJmzdNsqcP79eY1G7FM5w1wCSZiIn2sQgozZLWxO5rU~dvnL5yFCrSd-oFpFmgxzc8Y~oMfxEFWM8pg7JV7a7L-QUXXAnphb1BNCYRqeqtQ4q9af7al5FZK7vkKi28OMhAzwF61oHarev22pIYbTA4q-MYsj0ghi~5Ei0pduKeR5zP0Q7nkhnEPHGaUAeCeaJoxJ0JjolH87mD3McXOScakPHC-Ejso5oeeLE8BidlTxNp8cg4fwJgu~CbXcm4ib0zaZ4v7A__" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Payments</h2>
                            <p class="description">Accelerating digital payment adoption.</p>

                            <a href="" class="buttonservi"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 2nd card -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/7585/ee20/0fed9b7f309019164619dc3ea8985718?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c87Z2EShRT3~AEWQlwJ2~viF1~lJoP86NgA17knEQghcH8CTexVvmGOAmLmyM1rr9jjEZY5K~vosoczZYlnEhEOYYBCzByEC-ExSmLnm34EAT4DF6whNt8cfms1Eaxy5PJccatr6cV-mMUHIrbPF2~IgqoBc55CTQCQNJ3l6m~3yKvPQE0COTHSWrYgxypQpEoq2CEDU7W8mwj5jFLI3wF3MuyXr9VKrvHuvU8--vE8-GrNbHHLzcOKTknXNZCtxgD0~PYXHfXX9vk3BEDakdNVarx~O9DEMCXMeb208SdYiIdQBBDDp-tuxRM8RGl6aH4na7GS5g668o9lVdQfeCw__" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Lendings</h2>
                            <p class="description">Ushering digitalization and embedded finance.</p>

                            <a href="" class="buttonservi"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 3rd card -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/48e0/84f3/901bfb77f0571100d072f5594d683d85?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hSpOsLmdr3OxIIeO3my4Or9NszELQOowbymhJuLswF~plKdaWu~6k8Yu0CZ8HU7OXv8hgI5w9nzTIwBE2o0XQ6wpMKcPTXAtMPf-PXdKG1wtzujFvFcqxyGHnO45jYsHzkF3fzSagGuUN5ecdS4WewsMbG1-PClr6x5Ly6TD0WsbnetBM3titCTwRzcyYkrpwAyvJNCIf92UH6H1wHAbXclL7HM0UhRoxkmgbb5QFNz1TrtBfhvqAAtdjXx6NAjbA245klIvwjAuAmsBxprrVVG5yRuYA6BoWNSP4UhVCcx6x2DZMoiu-jeUSHiXEP5ym~MAWbdw0Qt~Cdui1UBXPQ__" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Digitalization</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 4th card  -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Application</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 5th card-->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Wavemaker</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 6th card-->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Cards</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    
                  
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </section>