<div class="container">
<div class="containerOverviewAbout">
    <div class="leftOverviewAbout">
      <img src="https://s3-alpha-sig.figma.com/img/1639/8677/72776a33aaccac7e1eeaa4eeb83e3177?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hrMY6N3-1dac1pg1dzW3Xl2rE7hCcn0CytcIwI6JApYIjWTTS~9Jycwe~dU4JT5dllXMP8dn8APFMRhFCczJCe~Mz9PHOM0WxOZkqUdQvYZP4CEktWWssUm5pt-Az7nxhwctTRWqtFjDHEbGuqjol-QW1BP3Mx5U8AUoX6JbzrA7~lYUOdaUGKDsH865inQ7olVwyYEsRKSv8~Uw0vQzmVAjNbxbOhcnr3hzhiBkba41ocdfBmfq1F6GoZuAw6EbbmZUNmGn75Fjc5nS2-FlAveQ1tflHDu-nQa1aV4uSl653XxdSXH7Omex2VjLpe1AjZZWjP6xBPtpEQS580scig__" alt="Left Image">
    </div>
    <div class="rightOverviewAbout">
      <h2>OVERVIEW</h2>
      <p>
        Originally established as a specialized provider of technological services and solutions, Ridhitek was limited to the card, payment, and lending industries. With our next-generation digital services and consultancy, we help clients in 15 countries navigate their digital transition.
      </p>
      <p>
        We professionally guide our clients through their digital transformation projects thanks to our more than ten years of experience managing systems and working for financial institutions, third-party payment processors, and fintech companies. We are able to create exceptional project delivery experiences and performance levels never before seen thanks to our deep domain expertise, technological know-how, and application level competence in the three areas. Positively outrageous client delight is the result.
      </p>
    </div>
  </div>
</div>