<!-- <div class="container"> -->
<section class="main ">

    <div class="container1">
        <h3 class="servi1">Services</h3>
        <h1 class="servi2">Some Of our</h1>
        <h1 class="servi3">best services</h1>
        <h5 class="servi4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h5>
        <a href="#" class="buttonservi">Know more <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="Arrow Icon" width="20"></a>
      
    </div>
    <div class="container2">
        <app-carousel-cards></app-carousel-cards>
    </div>
</section>





    

<!-- </div> -->
