
<div class="" style="padding: 0;">
    <div class="containerwhoareu ">
    <div class="content">
        <h3 class="who1">Who We Are?</h3>
        <h1 class="who2">Boost your</h1>
        <h1 class="who3">Business With Us</h1>
        <h5 class="who4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</h5>
        <a href="#" class="buttonwhoare">Know more <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="Arrow Icon" width="20"></a>
      </div>
      <div class="whoareuimg">
        <img src="https://s3-alpha-sig.figma.com/img/1122/9580/2152b9fcfaa4a3e5f5cea4581022f970?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VAKc8-hCnz0Gjpv4aaLqJ-cP8aBPGTsMBGrhmtJ2cj0-9supSCDHibOLX50IIK2y0d9BpsZ5XfX9YZjxgh9sAjsvek1Hl5tLdvisL0HHzz0BOebgNLEXBSlsoctcs18aP7w5O2lu8OFfiS50RxZqnfC3psULOyjmdF5BS0j6dlKIKHdjPQJJe1XUr7eXRY6vvixhL3nKRDpWz0VkBm5nAgZkp1ST8rR6btwlAEYO~Qjs8XeXVaWwg5rzuhIFwsOyxqiWWenCPJzEiKEthWijaNKFfIAd7ny~GZqol~KAF-4wdSU0sOcEdArXbdn14NEYoem3YGjO0QkgVdCpx9nQ0g__" alt="Your Image" width="100%">
      </div>
    
    </div>
  </div>
